<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="mymins.LayoutSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="mymins.Properties.Settings.myminsConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\mymins.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
    <userSettings>
        <mymins.LayoutSettings>
            <setting name="visPanelSpecminID" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelMinMins" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visLabelMinPlus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visFlowLayoutPanelMinEdit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelMinEditAddDel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelMinName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelMinMember" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelMinMindatID" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visLabelSpecPlus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelSpecDetails" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelSpecHeight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelSpecLength" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelSpecWidth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelSpecUnits" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelSpecWeight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelSpecwUnits" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelSpecRepair" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelSpecArtificial" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelSpecAppraisal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelSpecRating" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelSpecTransparent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelSpecCrystal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelSpecComment" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visLabelConPlus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelFromContact" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelFromConAddDel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelConName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelConCountry" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelConState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelConCounty" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelConCity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelConAddress" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelConType" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelConGPSlat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelConGPSlon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelConPhone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelConEmail" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelConWeb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelConComment" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelConMindatID" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visFlowLayoutPanelExpoEdit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visExpoDatePartsBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelAcquTo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visAcquDatePartsBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelAcquPrice" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelAcquType" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visPanelAcquExposure" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="visAcquDataGridView" serializeAs="String">
                <value>True</value>
            </setting>
        </mymins.LayoutSettings>
    </userSettings>
</configuration>
